*.pickle
*.npy
*.swp
*.txt
*.ipynb
*__pycache__*
Data/*
Pickles/*
whitening/Writeu*
*egg*
whitening/Figures*
*.pyc
SAILnet/.DS_Store
.DS_Store
SAILnet/pca/.DS_Store
SAILnet/pca/.DS_Store
SAILnet/pca/.DS_Store
SAILnet/pca_object_44
SAILnet/whitened_44.npz
SAILnet/pca/.DS_Store
SAILnet/pca/.DS_Store
SAILnet/pca/.DS_Store
